/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    font-family: sans-serif;
    background: #fff;
    color: #000;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
button, input, textarea {
    font-family: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
strong {
    font-weight: bold;
}

/* Style Screen */
.main{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 1080px;
  padding: 20px 0px;
  background-image: url('../images/bg-screen.webp');
}

  .sidebar{
    width: 4.5%;
    height: 1040px;
    padding: 0px 20px 0px 20px;
    border-right: 8px solid #808080ff;
  }

  .sidebar img{
    opacity: 0.35;
  }

  .linksm:hover{
    opacity: 1;
  }

    .spacer-sb{
      width: auto;
      height: 720px;
    }

      .spacer-icsb{
        padding-bottom: 20px;
        bottom: 0px;
      }

  .flexmedia{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:center;
  }

  .content-b{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

    .streaming{
      position: relative;
      width: 400px;
      height: 220px;
      margin: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }

        .streaming:hover{
          top: -5px;
        }

        .streaming img{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50% , -50%);
          width: 300px;
        }

          .youtube {
            background-color: #ff0000ff;
          }

          .twitch {
            background-color: #6441a5ff;
          }

          .kick {
            background-color: #333333ff;
          }

          .vimeo {
            background-color: #1ab7eaff;
          }

            .vimeo img{top: 46%}

.content-c{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

    .tv{
      position: relative;
      width: 540px;
      height: 300px;
      margin: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }

    .tv img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50% , -50%);
      width: 300px;
    }

    .tv:hover{
      top: -5px;
    }

        .plutotv{
          background-color: #333333ff;
        }

        .plex{
          background-color: #333333ff;
        }

        .vix{
          background-color: #ff5900ff;
        }
