/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    font-family: sans-serif;
    background: #fff;
    color: #000;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
button, input, textarea {
    font-family: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
strong {
    font-weight: bold;
}

/* Style Screen */
.main{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1080px;
  background-image: url(images/bg-screen.png);
}

.spacer-fr{
  width: 100%;
  height: 20px;
}

  .sidebar{
    width: 3.7%;
    height: 1040px;
    padding: 0px 20px 0px 20px;
    border-right: 1px solid #808080ff;
  }

  .sidebar img{
    opacity: 0.5;
  }

  .linksm:hover{
    opacity: 1;
  }

    .spacer-sb{
      width: auto;
      height: 770px;
    }

      .spacer-icsb{
        padding-bottom: 20px;
        bottom: 0px;
      }

  .content{
    width: 95.7%;
  }
